{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'autentication/css/recuperar.css' %}">
{% endblock %}

{% block body %}
<div class="fundo-recuperar">
    <div class="box-recuperar text-center">
        <h1 class="titulo font-degrade borda-bottom-degrade">E-mail enviado</h1>

        <p style="color:#bbb; margin-top:20px;">
            Se existir uma conta com esse e-mail,<br>
            você receberá um link para redefinir sua senha.
        </p>

        <a href="{% url 'login' %}" class="btn btn-success btn-lg mt-4">
            VOLTAR AO LOGIN
        </a>
    </div>
</div>
{% endblock %}
