{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'autentication/css/recuperar.css' %}">
{% endblock %}

{% block body %}
<div class="fundo-recuperar">
    <div class="box-recuperar">
        <h1 class="titulo font-degrade borda-bottom-degrade">Nova senha</h1>

        <form method="POST">
            {% csrf_token %}

            <label class="label-recuperar">Nova senha:</label>
            <input type="password" name="new_password1"
                   class="form-control input-recuperar"
                   placeholder="Digite a nova senha..." required>

            <label class="label-recuperar">Confirmar senha:</label>
            <input type="password" name="new_password2"
                   class="form-control input-recuperar"
                   placeholder="Confirme a nova senha..." required>

            <button type="submit"
                    class="btn btn-warning btn-block font-weight-bold"
                    style="height:48px;">
                ALTERAR SENHA
            </button>
        </form>
    </div>
</div>
{% endblock %}
